<% content_for(:title, "Stack Overflow | " + @user.email) %>

<h1><%= @user.email %></h1>

<% if current_user == @user %>
  <p><%= link_to "Add Question", new_user_question_path(current_user), id: "new_link", remote: true %></p>
  <hr><hr>
<% end %>
<% if @user.questions.any? %>
  <div id="questions">
    <%= render @user.questions %>
  </div>
<% else %>
  <p>There are no questions!</p>
<% end %>
